<link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
<!-- Layout styles -->
<link rel="stylesheet" href="/assets/css/style.css">
<!-- End layout styles -->
<link rel="shortcut icon" href="/assets/images/favicon.png" />
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Register</h3>
                        <form id="changePassword" action="changePassword" method="post">



                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                                <small id="error-password" class="text-danger"></small>
                            </div>

                            <div class="form-group">
                                <label for="confirmPass">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPass" name="confirmPass">
                                <small id="error-confirmPass" class="text-danger"></small>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                            </div>



                            <p class="sign-up text-center mt-3">Already have an Account? <a href="/user/login">Login</a>
                            </p>
                            <p class="terms text-center mt-3">By creating an account, you accept our <a href="#">Terms &
                                    Conditions</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- plugins:js -->
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/misc.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>

<!-- endinject -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
</div>


<script>

    const password = document.getElementById('password');
    const confirmPass = document.getElementById('confirmPass');
    const changePassword = document.getElementById('changePassword');


    const errorPassword = document.getElementById('error-password');
    const errorConfirmPass = document.getElementById('error-confirmPass');

    // Regular Expressions
    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

    changePassword.addEventListener('submit', (e) => {
        let valid = true;

        // Clear previous messages
        errorFullName.innerText = "";
        errorUserName.innerText = "";
        errorPhone.innerText = "";
        errorEmail.innerText = "";
        errorPassword.innerText = "";
        errorConfirmPass.innerText = "";





        // Password Validation
        if (!passwordRegex.test(password.value)) {
            errorPassword.innerText = "Password must be at least 8 characters long, with an uppercase letter, lowercase letter, number, and special character.";
            valid = false;
        }

        // Confirm Password Validation
        if (password.value !== confirmPass.value) {
            errorConfirmPass.innerText = "Passwords do not match.";
            valid = false;
        }

        if (!valid) {
            e.preventDefault();
        }
    });
</script>
</div>