<!-- <div class="container d-flex justify-content-center align-items-center vh-100">
    
<div class="container mt-5" style="width: 25rem;" >
    <h2 class="text-center">Sign Up</h2>
    <form id="signupForm" action="signup" method="post" >

      <h6 id="msg" class="text-center text-danger"> &nbsp;<%= message %> </h6>

        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" required>
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input type="text" class="form-control" id="userName" name="userName" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" required pattern="[0-9]{10}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirmPass" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPass" name="confirmPass" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    </form>
</div> -->

<link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Register</h3>
                            <form id="signupForm" action="signup" method="post">
                                <h6 id="msg" class="text-center text-danger"> &nbsp;<%= message %> </h6>

                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control p_input" id="fullName" name="fullName" required>
                                </div>
                                <div class="form-group">
                                    <label for="userName">Username</label>
                                    <input type="text" class="form-control p_input" id="userName" name="userName" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control p_input" id="phone" name="phone" required pattern="[0-9]{10}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control p_input" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control p_input" id="password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPass">Confirm Password</label>
                                    <input type="password" class="form-control p_input" id="confirmPass" name="confirmPass" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Sign Up</button>
                                </div>
                                <div class="g-signin2" onclick="onSignIn">
                                    <a class="btn btn-google col" href="auth/google">
                                        <i class="mdi mdi-google-plus"></i> Google plus
                                    </a>
                                </div>
                                <p class="sign-up text-center">Already have an Account?<a href="/user/login">Login</a></p>
                                <p class="terms text-center">By creating an account, you accept our <a href="#">Terms & Conditions</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/todolist.js"></script>

    <!-- endinject -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</div>


<script>
    document.getElementById('signupForm').addEventListener('submit', function(e) {
        let password = document.getElementById('password').value;
        let confirmPass = document.getElementById('confirmPass').value;
        let msg = document.getElementById('msg');
        
        if (password !== confirmPass) {
            // msg.innerHTML("Passwords do not match!")
            e.preventDefault();
            alert("Passwords do not match!");
            
        }
    });
</script>
</div>

